<div class="favourites">
  <app-header></app-header>
  <div class="favourites-image-list">
    <div *ngFor="let image of imagesWithFavourite" class="favourites-item">
      <nz-card nzHoverable [nzCover]="coverTemplate">
        <div class="favourites-image-wrapper" style="text-align: center;">
          <button
            nz-popconfirm
            nzTitle="Are you sure delete this task?"
            (nzOnConfirm)="deleteFavourite(image.favourite.id)" (nzOnCancel)="closePopover()"
            nz-button
            nzType="danger"
            nzShape="circle">
            <i nz-icon type="delete"></i>
          </button>
        </div>
      </nz-card>
      <ng-template #coverTemplate>
        <img class=".favourites-image" alt="example" [src]="image.url" />
      </ng-template>
    </div>
  </div>
</div>
