.favourites {
  .favourites-image-list {
    column-count: 2;
    column-gap: 0;
    .favourites-item {
      break-inside: avoid;
      .favourites-image {
        width: 100%;
      }
      .favourites-image-action {
        padding: -12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
