<div class="home">
  <div class="home-image-wrapper">
    <img *ngIf="images.length > 0 && images[0].url" [src]="images[0].url" alt="Image">
  </div>
  <div class="home-actions">
    <button class="vote-button" nz-button nzType="default" nzSize="large" nzShape="circle">
      <i nz-icon type="caret-up"></i>
    </button>
    <button class="upload-button" nz-button nzType="default" nzShape="circle">
      <i nz-icon type="upload"></i>
    </button>
    <button class="favourite-button" nz-button nzType="default" nzSize="large" nzShape="circle">
      <i nz-icon type="star"></i>
    </button>
    <button class="analyze-button" nz-button nzType="default" nzShape="circle">
      <i nz-icon type="pie-chart"></i>
    </button>
    <button class="next-button" nz-button nzType="default" nzSize="large" nzShape="circle">
      <i nz-icon type="redo"></i>
    </button>
  </div>
</div>
